<!doctype html>
{{ `<!-- mrx ui/baseof.html -->` | safeHTML }}
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">

<head>
  {{ partial "tmpl/head.html" . }}
</head>

{{- $bodyClass := ""}}
{{- with .Page.Params.ui }}{{ if isset . "bodyClass" }}{{ $bodyClass = printf "class=\"%s\"" .bodyClass }}{{ end }}{{ end }}
<body {{$bodyClass | safeHTMLAttr}}>
  <div class = "ui wide container">
    <header>
      {{ partial "tmpl/navbar.html" . }}
    </header>
  </div>

  <div class = "ui wide container">
    <div class = "ui grid">
      <div class = "row">
        <div class = "eight wide column">
          <main role = "main" class="ui main">
          {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "tmpl/breadcrumb.html" . }}{{ end }}
          {{ block "main" . }}{{ end }}
        </main>
        </div>
        <div class = "eight wide column">
          <div class = "ui segment">
            <div class = "ui message">
              <div id = "mrx-reg-header" class="header">reg query ...</div>
            </div>
            <div id = "mrx-reg-response">Register query in progress</div>
            <div id = "mrx-reg-help"></div>
          </div>
        </div>
      </div>
      <div class = "row">
        {{ partial "tmpl/footer.html" . }}
      </div>
    </div>
  </div>
  {{ partial "tmpl/body-scripts.html" . }}
</body>

</html>