{{/* .Site.Menus.menu2 - secondary navbar for donations etc -------------- */}}
{{ $thisPage := . -}}
<nav class="ui bottom attached centered fluid borderless wrapping menu navbar2">
  {{ range .Site.Menus.menu2.ByWeight -}}

  {{- if .HasChildren -}}
  {{ template "navBasic" (dict "page" $thisPage "menu" .) }}
  {{- else -}}
  {{ template "navBasic" (dict "page" $thisPage "menu" .) }}
  {{- end -}}

  {{ end -}}
</nav>


{{/* navBasic takes
page: .Page
menu: .Site.Menus.main.ByWeight
and outputs a top level menu - no children
*/}}
{{- define "navBasic" -}}
{{$pre := ""}}{{ if .menu.Pre}}{{$pre = .menu.Pre}}{{end}}
{{$post := ""}}{{ if .menu.Post}}{{$post = .menu.Post}}{{end}}
{{/* ----- ----- ----- ----- ----- ----- */}}
{{ $isActive := or (.page.IsMenuCurrent "main" .menu) (.page.HasMenuCurrent "main" .menu) -}}
{{ if .page }}{{ $isActive = or $isActive ( .page.IsDescendant .menu) }}{{ end }}
{{ $active := cond ($isActive) "active" "" -}}
{{/* ----- ----- ----- ----- ----- ----- */}}
{{ $url := urls.Parse .menu.URL -}}
{{ $baseurl := urls.Parse .page.Site.Params.Baseurl -}}
{{/* ----- ----- ----- ----- ----- ----- */}}
{{ $href := .menu.URL }}
{{ with .menu.Page }}{{ $href = .RelPermalink }}
{{else}}{{ $href = .menu.URL | relLangURL }}
{{ end }}
{{/* ----- ----- ----- ----- ----- ----- */}}
{{ $target :=""}}
{{- if ne $url.Host $baseurl.Host }}{{ $target = "target=\"_blank\"" }}{{- end -}}
{{/* ----- ----- ----- ----- ----- ----- */}}
<a class="{{ $active }} item" href="{{ $href }}" {{ $target }}>
  {{ $pre | safeHTML }}{{- .menu.Name | safeHTML -}}{{ $post | safeHTML }}
</a>
{{- end -}}
